/* Custom CSS for WordPress Login Page */
body.login {
	background-image: url("/wp-content/uploads/LoginBackground.png");
	background-color: #7c887e;
	background-repeat: no-repeat;
	background-position: center top;
}

body.login div#login h1 a {
	background-image: url("/wp-content/uploads/LoginLogo.png");
	height:200px;
	width:200px;
	background-size: 200px 200px;
	background-repeat: no-repeat;
	padding-bottom: 30px;
	background-position: center top;
	color: #999;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.3em;
	margin: 0 auto 25px;
	padding: 0;
	text-decoration: none;
	text-indent: -9999px;
	outline: none;
	overflow: hidden;
	display: block;
}